<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Show Page</title>
    </head>
    <body>
        <div class="container">
        <h1>Outfit Day <%=outfits.day%></h1>
        <a href="/outfits/">
            go back
        </a>
            <img src="<%=outfits.topImg%>" alt="top"/>
            <img src="<%=outfits.bottomImg%>" alt="bottom"/>
            <img src="<%=outfits.shoesImg%>" alt="shoes"/>
            <img src="<%=outfits.accessoriesImg%>" alt="accessories"/>
        </div>
            <form action="/outfits/<%=outfits.id%>/?_method=DELETE" method="POST">
                <input type="submit" name="" value="DELETE">
            </form>
    </body>
</html>
